<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feed</title>
    <link rel="stylesheet" href="/stylesheets/fedd.css">
</head>
<body>
    <body>
     
   <header>
    
   </header> 
   
     
   <div class="container">
    <div class="column">
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Pink flowers</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/2350377/pexels-photo-2350377.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      
    </div>
    <div class="column">
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/3601531/pexels-photo-3601531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Pink flowers</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/772520/pexels-photo-772520.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/3262437/pexels-photo-3262437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
    </div>
    <div class="column">
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/1697912/pexels-photo-1697912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Pink flowers</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/1591140/pexels-photo-1591140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/2057047/pexels-photo-2057047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
    </div>
    <div class="column">
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/60909/rose-yellow-flower-petals-60909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/4121204/pexels-photo-4121204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/4122767/pexels-photo-4122767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
      <div class="content-wrapper">
        <div class="image-wrapper">
          <div class="overlay">
          <div>
            <p>Creator</p>
            <button class="save">Save</button>
          </div>
          <div>
            <button class="spheric-button">
              twitter.com
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
            </button>
            <button class="round-button">
              <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
            </button>
          </div>
        </div>
           <img src="https://images.pexels.com/photos/2626152/pexels-photo-2626152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <p>Cool image</p>
      </div>
    </div>
  </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
       <script src="/javascripts/feed.js"></script>
         <script src="app.js"></script>
   </body>
                     
   
    
</body>
</html>